In [4]:
import pandas as pd

In [5]:
src = 'C:\\Users\\배진우\\Documents\\multiCampus_TA\\python_data\\'

bike_data = pd.read_csv(src + 'bike_usage_0.csv',encoding ='ANSI')

bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [6]:
type(bike_data)

pandas.core.frame.DataFrame

In [7]:
bike_data.columns

Index(['Date_out', 'Time_out', 'Station_no_out', 'Station_out',
       'Membership_type', 'Gender', 'Age_Group', 'Momentum', 'Station_no_in',
       'Station_in', 'Date_in', 'Bike_no', 'Carbon_amount', 'Distance',
       'Duration'],
      dtype='object')

In [8]:
bike_data.head(100)

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-10-03,1,2233,2233. 서초신동아1차아파트 옆,일일권,NaN,20대,106.96,2227,방배열린문화센터 앞,2019-10-03 오전 1:21:30,SPB-03051,0.86,3700,16
96,2019-10-03,1,289,289. 대림3동사거리,일일권,NaN,30대,73.18,2009,보라매역 8번출구,2019-10-03 오전 2:14:49,SPB-19992,0.65,2800,16
97,2019-10-03,1,181,181. 망원초록길 입구,일일권,NaN,30대,777.43,1328,월곡역 3번출구,2019-10-03 오전 3:29:29,SPB-16451,5.69,24540,107
98,2019-10-03,1,642,642. 신답역 사거리,일일권,NaN,30대,136.16,1437,늘푸른공원 앞,2019-10-03 오전 1:48:58,SPB-12685,1.23,5290,27
99,2019-10-03,1,931,931. 역촌파출소,일일권,NaN,30대,56.89,906,연신내역 5번출구150M 아래,2019-10-03 오전 1:39:45,SPB-21433,0.39,1690,16

In [9]:
bike_data.tail(10)

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
36585,2019-10-05,23,648,648. 장안동위더스빌옆,일일권,M,30대,824.45,398,을지로3가역 3번출구,2019-10-06 오전 12:11:27,SPB-22806,7.43,32030,37
36586,2019-10-05,23,154,154. 마포구청역,일일권,M,30대,60.57,179,가좌역 4번출구 앞,2019-10-05 오후 11:15:16,SPB-22989,0.37,1610,12
36587,2019-10-05,23,606,606. 휘경공고앞,일일권,M,30대,96.74,1408,먹골역 6번출구 앞,2019-10-05 오후 11:35:13,SPB-22447,0.81,3490,20
36588,2019-10-05,23,228,228. 선유도역 3번출구 앞,일일권,M,30대,169.88,267,삼성화재 사옥 옆,2019-10-06 오전 12:29:38,SPB-23863,1.28,5500,48
36589,2019-10-05,23,236,236. 문래동자이아파트 앞,일일권,M,30대,124.44,1140,목동사거리 버스정류장,2019-10-06 오전 12:35:15,SPB-19478,0.97,4190,37
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [10]:
bike_data.shape

(36595, 15)

In [11]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [12]:
bike_data.sum()

C:\Users\배진우\AppData\Local\Temp/ipykernel_19800/2878048.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bike_data.sum()

Date_out           2019-10-032019-10-032019-10-032019-10-032019-1...
Time_out                                                      523993
Station_no_out                                              27733794
Station_out        129. 신촌역(2호선) 6번출구 옆150. 서강대역 2번출구 앞240. 문래역 4...
Membership_type    정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정...
Age_Group          ~10대20대20대20대20대20대20대20대20대30대30대30대30대30대30대...
Momentum           28.27146.4637.13134.6285.8315.6830.3729.8946.7...
Station_no_in                                               32412858
Station_in         신성기사식당 앞서울시여성가족재단삼성생명 당산사옥 앞길음8골어린이공원 옆청계8가사거리...
Date_in            2019-10-03 오전 12:20:422019-10-03 오전 1:16:32201...
Bike_no            SPB-15000SPB-13087SPB-23229SPB-14181SPB-15221S...
Carbon_amount      0.241.320.291.210.670.150.270.260.380.340.190....
Distance                                                   154185430
Duration                                                     1135191
dtype: object

In [13]:
bike_data.Distance.sum()

154185430

In [14]:
bike_data['Distance']

0        1050
1        5690
2        1250
3        5230
4        2890
         ...
36590    3860
36591    5950
36592    2530
36593    3060
36594     620
Name: Distance, Length: 36595, dtype: int64

In [15]:
bike_data['Membership_type'].unique()

array(['정기권', '일일권', '단체권', '일일권(비회원)'], dtype=object)

In [17]:
bike_data['Membership_type'].value_counts()

정기권         27501
일일권          8957
단체권           135
일일권(비회원)        2
Name: Membership_type, dtype: int64

In [18]:
bike_data['Membership_type'].value_counts(normalize=True)

정기권         0.751496
일일권         0.244760
단체권         0.003689
일일권(비회원)    0.000055
Name: Membership_type, dtype: float64

In [19]:
bike_data.Momentum.min()

'0'

In [20]:
bike_data.Momentum.max()

'\\N'

In [21]:
bike_data[bike_data.Momentum == '\\N']

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
3347,2019-10-03,14,113,113. 홍대입구역 2번출구 앞,정기권,F,30대,\N,113,홍대입구역 2번출구 앞,2019-10-03 오후 7:56:30,SPB-19656,\N,0,2
14547,2019-10-04,10,203,203. 국회의사당역 3번출구 옆,정기권,F,70대~,\N,214,금융감독원 앞,2019-10-04 오전 8:41:49,SPB-14566,\N,0,5
15697,2019-10-04,12,211,211. 여의도역 4번출구 옆,정기권,M,20대,\N,217,NH농협은행 앞,2019-10-04 오전 10:00:22,SPB-05742,\N,0,5
20683,2019-10-04,19,238,238. 제2구민체육센타 앞,정기권,NaN,20대,\N,238,제2구민체육센타 앞,2019-10-04 오후 8:34:07,SPB-18370,\N,0,3
25700,2019-10-05,3,2259,2259. 잠원역 3번-4번 출구사이,정기권,NaN,40대,\N,2217,아크로리버뷰 부지 앞,2019-10-05 오후 9:23:46,SPB-03337,\N,0,7
27995,2019-10-05,11,274,274. 영등포역지하쇼핑센타 5번출구,정기권,NaN,40대,\N,279,영등포 푸르지오 아파트,2019-10-05 오후 10:03:10,SPB-15669,\N,0,10
30112,2019-10-05,14,437,437. 대흥역 1번출구,정기권,M,30대,\N,135,명물길 원형무대 앞,2019-10-05 오후 10:55:50,SPB-17475,\N,0,10
32978,2019-10-05,18,274,274. 영등포역지하쇼핑센타 5번출구,정기권,F,20대,\N,274,영등포역지하쇼핑센타 5번출구,2019-10-05 오후 3:46:34,SPB-16977,\N,0,7
34459,2019-10-05,20,146,146. 마포역 2번출구 뒤,정기권,F,20대,\N,109,제일빌딩 앞,2019-10-05 오후 8:21:07,SPB-18232,\N,0,19

In [22]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [23]:
bike_data[bike_data.Gender.isnull()]

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36553,2019-10-05,23,106,106. 합정역 7번출구 앞,일일권,NaN,30대,383.64,1824,독산근린공원 입구,2019-10-06 오전 12:48:32,SPB-23655,2.81,12110,68
36554,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,NaN,30대,157.79,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:28:03,SPB-13792,1.42,6130,32
36555,2019-10-05,23,2222,2222.사당역 12번출구 뒤,일일권,NaN,40대,51.74,2036,정금마을 마을버스정류장,2019-10-05 오후 11:52:33,SPB-17265,0.47,2010,15
36556,2019-10-05,23,916,916. 평생학습관 앞,일일권,NaN,50대,274.94,916,평생학습관 앞,2019-10-06 오전 1:12:15,SPB-01580,3.04,13100,80
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [24]:
bike_data.loc[bike_data.Gender.isnull(), 'Gender'] = 'U'

In [25]:
bike_data[bike_data.Gender.isnull()]

Empty DataFrame
Columns: [Date_out, Time_out, Station_no_out, Station_out, Membership_type, Gender, Age_Group, Momentum, Station_no_in, Station_in, Date_in, Bike_no, Carbon_amount, Distance, Duration]
Index: []

In [26]:
bike_data.Gender.value_counts()

U    18333
M    11025
F     7219
m       14
f        4
Name: Gender, dtype: int64

In [27]:
bike_data.loc[bike_data.Gender == 'm', 'Gender'] = 'M'
bike_data.loc[bike_data.Gender == 'f', 'Gender'] = 'F'

In [28]:
bike_data.Gender.value_counts()

U    18333
M    11039
F     7223
Name: Gender, dtype: int64

In [29]:
population_data = pd.read_csv(src + 'population_by_Gu.txt', sep = '\t')
population_data

,Gu,Family,Population,Male,Female,D_Total,D_Male,D_Female,F_Total,F_Male,F_Female,per_Family,over_65
0,동대문구,164191,363023,178490,184533,346194,172113,174081,16829,6377,10452,2.11,59350
1,은평구,207681,484546,233360,251186,480032,231528,248504,4514,1832,2682,2.31,80738
2,마포구,175023,385925,181303,204622,374035,176891,197144,11890,4412,7478,2.14,52429
3,영등포구,174806,400986,200986,200000,367678,182438,185240,33308,18548,14760,2.10,57872
4,서초구,173199,435107,208181,226926,430826,206039,224787,4281,2142,2139,2.49,57136

In [30]:
weather = pd.read_csv(src + 'weather.csv')
weather

,date_old,date,time,temp,cum_precipitation,humidity,insolation,sunshine,wind,wind_direction,sea_lvl_pressure,pressure
0,2019-10-03 오전 12:00:00,2019-10-03,12,20.0,23.2,94.1,3.40,0,5.5,351.7,1004.1,994.2
1,2019-10-03 오전 12:01:00,2019-10-03,12,20.1,0.0,94.1,0.00,0,3.7,348.6,1004.1,994.2
2,2019-10-03 오전 12:02:00,2019-10-03,12,20.0,0.0,94.1,0.00,0,3.6,346.4,1004.1,994.2
3,2019-10-03 오전 12:03:00,2019-10-03,12,20.0,0.0,94.1,0.00,0,3.1,349.1,1004.1,994.2
4,2019-10-03 오전 12:04:00,2019-10-03,12,20.0,0.0,94.0,0.00,0,3.4,335.9,1004.1,994.2
...,...,...,...,...,...,...,...,...,...,...,...,...
4315,2019-10-05 오후 11:55:00,2019-10-05,23,14.8,0.6,63.6,8.24,8400,3.2,350.9,1021.3,1011.0
4316,2019-10-05 오후 11:56:00,2019-10-05,23,14.8,0.6,63.5,8.24,8400,2.9,354.3,1021.3,1011.0
4317,2019-10-05 오후 11:57:00,2019-10-05,23,14.8,0.6,63.7,8.24,8400,3.1,3.9,1021.3,1011.0
4318,2019-10-05 오후 11:58:00,2019-10-05,23,14.7,0.6,63.9,8.24,8400,2.3,10.0,1021.2,1011.0
4319,2019-10-05 오후 11:59:00,2019-10-05,23,14.8,0.6,64.0,8.24,8400,2.6,351.7,1021.3,1011.0

In [31]:
bike_data.describe()

,Time_out,Station_no_out,Station_no_in,Distance,Duration
count,36595.000000,36595.000000,36595.000000,36595.000000,36595.000000
mean,14.318705,757.857467,885.718213,4213.292253,31.020385
std,6.000273,764.442285,835.058693,5713.148232,32.073889
min,0.000000,101.000000,101.000000,0.000000,1.000000
25%,11.000000,225.000000,227.000000,1180.000000,9.000000
50%,15.000000,417.000000,565.000000,2290.000000,19.000000
75%,19.000000,926.000000,1351.000000,5080.000000,44.000000
max,23.000000,2511.000000,9997.000000,111270.000000,682.000000

In [32]:
import numpy as np 

bike_data.loc[bike_data.Momentum == '\\N', 'Gender'] = np.nan

In [33]:
bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,U,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,U,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,U,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,U,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,U,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [34]:
bike_data.dropna(inplace=True)

In [35]:
bike_data[['Momentum', 'Carbon_amount']].astype(float)

       Momentum  Carbon_amount
0         28.27           0.24
1        146.46           1.32
2         37.13           0.29
3        134.62           1.21
4         85.83           0.67
...         ...            ...
36590    110.06           0.90
36591    153.15           1.38
36592     65.12           0.59
36593     78.76           0.71
36594     22.83           0.14

[36586 rows x 2 columns]

In [36]:
bike_data[['Momentum', 'Carbon_amount']] = bike_data[['Momentum', 'Carbon_amount']].astype(float)

In [37]:
import numpy as np

def outliers_iqr(data) :
    q1, q3 = np.percentile(data, [25,75])
    iqr = q3 - q1
    lower_bound = q1 - (iqr * 1.5)
    upper_bound = q3 + (iqr * 1.5)
    
    return np.where((data>upper_bound) | (data < lower_bound))

outliers = outliers_iqr(bike_data.Distance)

In [38]:
np.size(outliers)

3058

In [39]:
outliers

(array([   31,    97,   118, ..., 36566, 36572, 36576], dtype=int64),)

In [40]:
pd.DataFrame(outliers)

,0,1,2,3,4,5,6,7,8,9,...,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057
0,31,97,118,163,247,265,373,374,380,382,...,36521,36524,36543,36544,36547,36555,36560,36566,36572,36576

In [41]:
bike_data.iloc[outliers]

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
31,2019-10-03,0,403,403. 부엉이공원 앞,정기권,M,40대,483.28,194,증산교 앞,2019-10-03 오전 2:03:13,SPB-06112,3.15,13560,67
97,2019-10-03,1,181,181. 망원초록길 입구,일일권,U,30대,777.43,1328,월곡역 3번출구,2019-10-03 오전 3:29:29,SPB-16451,5.69,24540,107
118,2019-10-03,2,2222,2222.사당역 12번출구 뒤,정기권,U,30대,549.60,1124,발산역 6번출구옆(다이소앞),2019-10-03 오전 4:03:32,SPB-24365,4.74,20410,81
163,2019-10-03,2,903,903. 은평뉴타운 아이파크,정기권,M,50대,319.57,184,SK망원동주유소 건너편,2019-10-03 오전 5:11:40,SPB-14422,3.12,13450,131
247,2019-10-03,3,2505,2505. 우성아파트사거리 (기업은행앞),일일권,U,30대,373.51,1201,가락시장역 3번 출구,2019-10-03 오전 4:49:48,SPB-23456,2.74,11790,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36564,2019-10-05,23,933,933. LG서비스 역촌점,일일권,F,20대,220.41,418,월드컵경기장역 3번출구 옆,2019-10-06 오전 12:29:02,SPB-07222,2.81,12100,87
36569,2019-10-05,23,148,148. 용강동 주민센터 앞,일일권,F,30대,335.94,146,마포역 2번출구 뒤,2019-10-06 오전 1:05:07,SPB-21082,3.64,15710,85
36575,2019-10-05,23,437,437. 대흥역 1번출구,일일권,M,20대,346.10,437,대흥역 1번출구,2019-10-06 오전 1:26:17,SPB-25415,2.67,11500,109
36581,2019-10-05,23,641,641. 용두역 4번출구,일일권,M,20대,303.22,583,청계천 생태교실 앞,2019-10-06 오전 12:09:02,SPB-19379,2.73,11780,57
36585,2019-10-05,23,648,648. 장안동위더스빌옆,일일권,M,30대,824.45,398,을지로3가역 3번출구,2019-10-06 오전 12:11:27,SPB-22806,7.43,32030,37

In [42]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36586 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36586 non-null  object
 1   Time_out         36586 non-null  int64
 2   Station_no_out   36586 non-null  int64
 3   Station_out      36586 non-null  object
 4   Membership_type  36586 non-null  object
 5   Gender           36586 non-null  object
 6   Age_Group        36586 non-null  object
 7   Momentum         36586 non-null  float64
 8   Station_no_in    36586 non-null  int64
 9   Station_in       36586 non-null  object
 10  Date_in          36586 non-null  object
 11  Bike_no          36586 non-null  object
 12  Carbon_amount    36586 non-null  float64
 13  Distance         36586 non-null  int64
 14  Duration         36586 non-null  int64
dtypes: float64(2), int64(5), object(8)
memory usage: 4.5+ MB

In [43]:
bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,U,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,U,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,U,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,U,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.90,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,U,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [44]:
stations = pd.read_csv(src + 'stations.csv')
stations

,Gu,ID,Station,Address,Latitude,Longitude,Date,No_of_Racks
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45,5
...,...,...,...,...,...,...,...,...
366,서초구,2510,JW타워,서초구 서초동 1748-45,37.483040,127.021461,2019.03.26,8
367,서초구,2511,이수역 6번출구 앞,서초구 방배동 438-35,37.483662,126.982323,2019.03.14,20
368,은평구,972,수색역,수색로 261,37.582180,126.894943,2019.06.14,20
369,마포구,440,하늘공원 입구,마포구 하늘공원로 108-2,37.570006,126.881149,2019.08.02,15
370,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16,10

In [45]:
stations.columns

Index(['Gu', 'ID', 'Station', 'Address', 'Latitude', 'Longitude', 'Date',
       'No_of_Racks'],
      dtype='object')

In [46]:
bike_data.columns

Index(['Date_out', 'Time_out', 'Station_no_out', 'Station_out',
       'Membership_type', 'Gender', 'Age_Group', 'Momentum', 'Station_no_in',
       'Station_in', 'Date_in', 'Bike_no', 'Carbon_amount', 'Distance',
       'Duration'],
      dtype='object')

In [47]:
bike_data2 = pd.merge(bike_data, stations, left_on = 'Station_no_out', right_on='ID')

In [48]:
bike_data2

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,...,Distance,Duration,Gu,ID,Station,Address,Latitude,Longitude,Date,No_of_Racks
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,~10대,28.27,122,신성기사식당 앞,...,1050,5,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
1,2019-10-03,4,129,129. 신촌역(2호선) 6번출구 옆,정기권,M,20대,0.00,126,서강대 후문 옆,...,0,4,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
2,2019-10-03,10,129,129. 신촌역(2호선) 6번출구 옆,정기권,F,20대,14.41,125,서강대 남문 옆,...,560,3,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
3,2019-10-03,12,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,20대,27.75,125,서강대 남문 옆,...,960,62,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
4,2019-10-03,13,129,129. 신촌역(2호선) 6번출구 옆,정기권,U,30대,25.26,118,광흥창역 2번출구 앞,...,1160,10,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36581,2019-10-05,21,124,124. 서강대 정문 건너편,정기권,M,30대,4.75,121,마포소방서 앞,...,200,3,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20
36582,2019-10-05,21,124,124. 서강대 정문 건너편,정기권,M,40대,27.60,126,서강대 후문 옆,...,820,5,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20
36583,2019-10-05,22,124,124. 서강대 정문 건너편,정기권,M,40대,83.22,3102,연희삼거리,...,2840,11,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20
36584,2019-10-05,22,124,124. 서강대 정문 건너편,일일권,F,30대,33.32,124,서강대 정문 건너편,...,1870,27,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20
36585,2019-10-05,22,124,124. 서강대 정문 건너편,일일권,M,30대,51.70,124,서강대 정문 건너편,...,1920,23,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20

In [49]:
bike_data2.Gender.value_counts()

U    18330
M    11037
F     7219
Name: Gender, dtype: int64

In [51]:
bike_data2.loc[bike_data2.Distance == 0, 'Duration'].max()

214

In [52]:
bike_data2[bike_data2.Distance == 0]

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,...,Distance,Duration,Gu,ID,Station,Address,Latitude,Longitude,Date,No_of_Racks
1,2019-10-03,4,129,129. 신촌역(2호선) 6번출구 옆,정기권,M,20대,0.0,126,서강대 후문 옆,...,0,4,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
21,2019-10-03,18,129,129. 신촌역(2호선) 6번출구 옆,정기권,M,30대,0.0,129,신촌역(2호선) 6번출구 옆,...,0,2,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
27,2019-10-03,20,129,129. 신촌역(2호선) 6번출구 옆,정기권,M,20대,0.0,126,서강대 후문 옆,...,0,4,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
79,2019-10-04,21,129,129. 신촌역(2호선) 6번출구 옆,일일권,U,~10대,0.0,437,대흥역 1번출구,...,0,26,마포구,129,129. 신촌역(2호선) 6번출구 옆,서울특별시 마포구 신촌로 106,37.555054,126.937569,2015-09-07 10:37,15
165,2019-10-04,7,150,150. 서강대역 2번출구 앞,정기권,U,30대,0.0,143,공덕역 2번출구,...,0,10,마포구,150,150. 서강대역 2번출구 앞,서울특별시 마포구 노고산동 112-13,37.552956,126.934341,2016-06-29 12:00,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36378,2019-10-05,15,2201,2201. 본마을 정류소 앞,일일권,U,30대,0.0,2351,청소년수련관(수영장)앞,...,0,63,서초구,2201,2201. 본마을 정류소 앞,서울특별시 서초구 본마을2길 2,37.453281,127.051483,2017-06-01 9:57,20
36426,2019-10-04,18,2257,2257. 하나로클럽 양재점 맞은편,정기권,U,40대,0.0,2618,삼전역 1번출구,...,0,40,서초구,2257,2257. 하나로클럽 양재점 맞은편,서울특별시 서초구 청계산로 10,37.462688,127.046112,2017-06-01 10:48,10
36473,2019-10-04,21,2249,2249. 우솔초등학교 맞은편,일일권,M,40대,0.0,2335,3호선 매봉역 3번출구앞,...,0,24,서초구,2249,2249. 우솔초등학교 맞은편,서울특별시 서초구 양재대로2길 74,37.456234,127.019348,2017-06-22 13:56,10
36497,2019-10-05,20,2510,2510. JW타워,정기권,U,40대,0.0,2249,우솔초등학교 맞은편,...,0,20,서초구,2510,JW타워,서초구 서초동 1748-45,37.483040,127.021461,2019.03.26,8
36519,2019-10-04,12,124,124. 서강대 정문 건너편,정기권,M,20대,0.0,437,대흥역 1번출구,...,0,2,마포구,124,124. 서강대 정문 건너편,서울특별시 마포구 서강로16길 72,37.551140,126.936989,2015-09-07 10:33,20

In [53]:
bike_data2 = bike_data2[bike_data2.Distance != 0]

In [54]:
bike_data2[bike_data2.Duration == 0]

Empty DataFrame
Columns: [Date_out, Time_out, Station_no_out, Station_out, Membership_type, Gender, Age_Group, Momentum, Station_no_in, Station_in, Date_in, Bike_no, Carbon_amount, Distance, Duration, Gu, ID, Station, Address, Latitude, Longitude, Date, No_of_Racks]
Index: []

[0 rows x 23 columns]